*{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: lato, sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: grey;
}
.img1{
    background-image: url(images/img1.jpeg);
    min-height: 100%;

}
.img2{
    background-image: url(images/img2.jpeg);
    min-height: 400px;

}
.img3{
    background-image: url(images/img3.jpg);
    min-height: 400px;

}
.img1,img2,img3{
    position: relative;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
.text{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing:8px;
    text-transform: uppercase;

}
.textParagraph{
    background: black;
    color: white;
    padding: 20px;
}
.section_light{
    
    text-align: center;
}
.section_light p{
    margin: 0;

}